.header .logo{
	filter: grayscale(100%) invert(100%);
}
.header .navbar__link, .header .navbar__drawer{
	color: #fff;
}

.navbar__drawer_card .navbar__link{
	color: #000;
}

@media screen and (max-width: 991px){
  .navbar__menu{
    background: #000;
  }
  
  .navbar .navbar__positioner::after{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
  }
  
  .navbar__drawer_card .navbar__link{
    color: #fff;
  }
}

.navbar__positioner{
	pointer-events: none;
}

.navbar__menu{
	pointer-events: auto;
}

.navbar__drawer_trigger svg{
	transform: rotate(180deg);
  transition: 250ms ease transform;
}

.navbar__burger .burger-line{
	background: #fff;
}

@media only screen and (min-width: 992px) {

  .navbar__drawer:hover{
    z-index: 2;
  }

  .navbar__drawer:hover .navbar__drawer_dropdown{
    pointer-events: auto;
    opacity: 1;
    z-index: 2;
  }
  
  .navbar__drawer:hover .navbar__drawer_trigger svg{
    transform: rotate(0deg);
  }
  
  .navbar__drawer_dropdown{
    pointer-events: none;
    opacity: 0;
  }
 
}

@media only screen and (max-width: 991px) {

	.navbar .navbar__positioner::after{
  	content: '';
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 6rem;
    width: 100vw;
    opacity: 0;
    transition: 250ms ease opacity;
  }
  
  .navbar.active .navbar__positioner::after{
  	opacity: 1;
  }

	.navbar__drawer_trigger {
  	opacity: 0.6;
  }

	.navbar__drawer_trigger svg{
  	display: none;
  }
  
  .navbar__link, .navbar__drawer {
  	font-weight: 500;
  }
  
  .navbar__link > div{
  	font-size: 2rem;
    line-height: 1.2;
  }

  .navbar__drawer.active{
    z-index: 2;
  }
  
  .navbar__drawer.active .navbar__drawer_dropdown{
    pointer-events: auto;
    opacity: 1;
    z-index: 2;
  }
  
  .navbar__drawer.active .navbar__drawer_trigger svg{
    transform: rotate(0deg);
  }

  .navbar__burger .burger-line{
    transition: 250ms ease transform;
  }
  
  .navbar__menu {
    transition: 250ms ease transform;
    transform: translate(100%, 0%);
  }

  .navbar__menu.active{
    transform: translate(0%, 0%);
  }

  .navbar__burger.active .burger-line:nth-child(1){
    transform: translate(0, 0.25rem) rotate(45deg);
  }
  
  .navbar__burger.active .burger-line:nth-child(2){
    transform: translate(0, -0.25rem) rotate(-45deg);
  }
 
}
